@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.blocks {
  font-family: "Open Sans", sans-serif;
  margin-left: 75px;
  padding-top: 20px;
  flex-wrap: wrap;
  flex-direction: column;

  display: flex;
  color: black;
}

ul {
  border-bottom: 1px solid #cccccc;
}

.blocks img {
  float: left;
  height: 200px;
  width: 150px;
  margin-right: 20px;
}

.blocks a {
  text-decoration: none;
}

.blocks a:visited {
  color: #303030;
}

input.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;

  background: rgb(17, 118, 255);
  box-shadow: 0 -3px rgb(8, 118, 255) inset;
  transition: 0.2s;
  border: none;
}

input.button7:hover {
  background: red;
  cursor: pointer;
  box-shadow: 0 -3px rgb(244, 0, 0) inset;
}

input.button7:active {
  background: rgb(255, 0, 0);
  box-shadow: 0 -3px rgb(244, 0, 0) inset;
}

#logout {
  width: 5vh;
}
