@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.dropbtn {
  color: #cccccc;
  background-color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  float: right;
  position: relative;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  border-top: 1px solid #cccccc;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;

  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}
