<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css-pages/category.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category</title>
  </head>

  <body>
    <%- include('./templates/header.ejs')%>
    <div class="container">
      <h2>
        Мобильные телефоны
        <div class="smartphones"><a href="/smartPhones">&nbsp;</a></div>
      </h2>
      <h2>
        Мониторы
        <div class="monitors"><a href="/smartPhones">&nbsp;</a></div>
      </h2>
      <h2>
        Наушники
        <div class="headphones"><a href="/smartPhones">&nbsp;</a></div>
      </h2>
    </div>
  </body>
</html>
