<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smartphones</title>
  </head>

  <body>
    <%- include('./templates/header.ejs')%> <%-
    include('./templates/sort.ejs')%>

    <div class="container">
      <%- include('./templates/filter.ejs')%> <%-
      include('./templates/smartPhones.ejs')%>
    </div>
  </body>
</html>
