<head>
  <link rel="stylesheet" href="/css-pages/header.css" />
</head>
<header>
  <div class="logo">
    <a href="/category"
      ><img src="/logotips/off.png" alt="" />FF<span>liner</span></a
    >
  </div>
  <nav>
    <ul>
      <li><a href="/" class="cart"></a></li>
      <li><a href="/login" class="login"></a></li>
    </ul>
  </nav>
</header>
