<head>
  <link rel="stylesheet" href="/css-pages/reg.css" />
</head>
<div id="reg-box">
  <div class="left">
    <h1>Регистрация</h1>
    <form method="post">
      <input type="text" name="email" placeholder="E-mail / Username" />
      <input type="password" name="password" placeholder="Password" />
      <p><a href="login">Авторизация</a></p>

      <input type="submit" value="Подтвердить" />
    </form>
  </div>
</div>
